<div class="photo-box-background" [ngStyle]=backgroundStyles()></div>
<div class="photo-box" (click)="nextPhoto(true)">
    <img id="photo"
        class="disable-blur"
        src="{{getCurrentImageFileName()}}"
        (load)="onLoadImage()"/>
</div>

<div class="info-bar {{displayInfoBar()}}">
    <div class="controller fade-out-segment {{displayBiggerController()}}">
        <div class="controller-wrapper">
            <div class="controller-row {{displayBiggerController()}}" id="ctrl-1-row">
                <span class="button {{displayHiddenController()}}" (click)="nextPhoto(false)" title="See previous photo (press ⯇)">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </span>
                <span class="button" (click)="showCaption(true)" title="Show captions (press ▲)">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </span>
                <span class="button {{displayHiddenController()}}" (click)="nextPhoto(true)" title="See next photo (press ⯈)">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </span>
            </div>
            <div class="controller-row {{displayFullController()}}" id="ctrl-2-row">
                <span class="button" (click)="nextPhoto(false)" title="See previous photo (press ⯇)">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </span>
                <span class="button" (click)="randomPhoto()" title="See a random photo (press Space)">
                    <mat-icon>shuffle</mat-icon>
                </span>
                <span class="button" (click)="nextPhoto(true)" title="See next photo (press ⯈)">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </span>
            </div>
            <div class="controller-row {{displayFullController()}}" id="ctrl-3-row">
                <span class="button" (click)="showCaption(false)" title="Hide captions (press ▼)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </span>
            </div>
        </div>
    </div>

    <div class="caption fade-out-segment {{displayInfoBar()}}">
        <div class="caption-wrapper">
            <div class="caption-index sans-serif">{{currentImageIndex+1}}</div>
            <div class="caption-text" innerHtml={{imageCaption}}></div>
            <div class="caption-date sans-serif">{{imageDate | date:'d MMMM yyyy'}}</div>
        </div>   
    </div>

    <div class="map {{displayInfoBar()}}">
        <a href="https://duckduckgo.com/?q={{imageLatLon}}&ia=web&iaxm=maps" target="_blank">
            <img src='{{getMapByApi()}}'>
        </a>
    </div>
</div>