@import '../../styles.less';

@caption-font-size: 20px;
@caption-subtext-font-size: 15px;
@caption-opacity: 0.75;
@bg-blur: 10px;

.photo-box, .photo-box-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    img {
        width: 100%;
        top: 0;
        position: relative;
        object-fit: contain;
    }

    @keyframes slideBackground {
        from {
            height: 100%
        }
        to {
            top: -60px;
            height: 120%
        }
    }
}

.photo-box-background {
    filter: blur(@bg-blur);
}

.info-bar {
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    position: absolute;
    color: @text-dark;
    display: flex;
    transition: all 150ms ease-in-out;

    .fade-out-segment {
        opacity: @caption-opacity;
        background: white;
    }

    &.no-view, .no-view {
        height: 48px;
        opacity: 0.8;

        .material-icons {
            font-size: 48px;
        }
    }

    .controller {
        display: flex;
        
        &.biggy {
            border-radius: 50px;
        }

        .controller-wrapper {
            display: flex;
            margin-top: auto;
            margin-bottom: auto;
            cursor: pointer;
            flex-direction: column;
            
            .controller-row {
                display: flex;
                justify-content: center;
                overflow: hidden;                
            }
            span:hover {
                text-shadow: 0 0 4px #808080;
                background-color: grey;
                border-radius: 100%;
                color: black;
                box-shadow: inset 0px 0px 5px 0px #3a3a3a;
            }
            mat-icon {
                margin: auto 0;
            }
        }
        .no-view {
            height: 0;
            display: none;
        }
        .button {
            width: 24px;
            height: 24px;
        }

        .biggy .button {
            width: 48px;
            height: 48px;
            display: flex;
        }
    }

    .caption {
        flex-grow: 2;
        display: flex;
        justify-content: center;
        
        &.no-view {
            display: none;
        }

        &-wrapper {
            margin: auto;
        }
        &-index {
            font-size: @caption-subtext-font-size;
            color: #505050;
            font-weight: 700;
            margin-bottom: 3px;

            &::before {
                content: '#';
            }
        }
        &-text {
            flex-grow: 2;
            text-align: left;
            font-size: @caption-font-size;
        }

        &-date {
            text-align: right;
            font-size: @caption-subtext-font-size;
            margin-top: 5px;
            color: #505050;
            font-weight: 700;
        }

    }
    .map {
        img {
            opacity: 1;
            width: 150px;
            height: 150px;
        }

        &.no-view {
            display: none;
        }
        
    }
}
.preload-image {
    display: none;
}
@media screen and (max-width: 1000px) {    
    .info-bar {
        height: 100px;

        .caption {
            padding: 5px;
            
            &-text {
                font-size: calc(0.7 * @caption-font-size);
            }
    
            &-index, &-date {
                font-size: calc(0.7 * @caption-subtext-font-size);
            }
        }
        .map {
            height: 100px;
            width: 100px;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .info-bar {
        .caption {
            &-text {
                font-size: calc(0.5 * @caption-font-size);
            }
    
            &-index, &-date {
                font-size: calc(0.5 * @caption-font-size);
            }
        }
    }
}
@media screen and (max-width: 300px) {
    .info-bar .map {
        display: none;
    }
}