<div *ngIf="!country">
    <p>
        All in all, we cycled through 19 countries in just under
        <span class="stick-label"><span class="days">22</span>months</span>.
        There were several occasions we couldn't cycle (train, boat and police van)
        but approximately 95% of our route was done by pushing those pedals.
        Our Silk Road tour was split into four sections: 
        <span class="fave-place">China</span>
        <span class="fave-place">Central Asia</span>
        <span class="fave-place">Middle East</span>
        <span class="fave-place">Europe</span>
    </p>
</div>

<div *ngIf="country">
    <p>
        We cycled about around
        <code class="distance" *ngFor="let i of (country.distanceCycled+'KM').split('')">{{i}}</code> 
        for <span class="stick-label">
                <span class="days">{{country.daysCycled}}</span>
                days
            </span>.      
        <span *ngIf="country.favouritePlace">
            Both of us picked 
            <a href="https://duckduckgo.com/?q={{country.favouritePlace}}"
                class="fave-place"
                target="_blank">
                {{country.favouritePlace}}
            </a>
            as our favourite place. 
        </span>
        We spent on average around
        <span class="money stick-label">{{country.averageDailySpend | number:'1.2-2'}}</span>
        a day.
        Check out more content about {{country.name}} on 
        <a href="https://www.instagram.com/stories/highlights/{{country.igStory}}/" target="_blank">
            Instagram
        </a>
        and
        <a href="/blog?search={{country.name}}">
            WordPress
        </a>
    </p>
    <div *ngIf="country.score">
        <span>Our Experience Score (out of 5 stars)</span>
        <div *ngFor="let j of country.score; index as i;">
            <span class="category">{{scoreCategory[i]}}</span>
            <span class="stars">
                <span *ngFor="let k of [].constructor(j)" class="gold">🟊</span>
                <span *ngFor="let k of [].constructor(5-j)" class="grey">🟊</span>
            </span>
        </div>
    </div>
</div>
