@number-tile-bg: #333;
@calendar-bg: #333;
@money-bg: #12996b;
@road-sign-bg: gold;
@ghost: transparent;

div {
    line-height: 1.5;
}

.distance {
    color: white;
    border: 1px solid #676767;
    border-radius: .25em;
    padding: 0 0.1em;
    background: @number-tile-bg;
    text-transform: uppercase;
}

.days {
    background-color: @calendar-bg;
    padding: 0 0.5em;
    border-top: 3px solid red;
    margin-right: 5px;
}

.money::before {
    content:"NZD $";
}

.fave-place {
    padding: 0 .5em;
    background: @road-sign-bg;
    color: black;
    white-space: nowrap;
    position: relative;
    margin-right: 0.5em;
}

.fave-place::after {
    content: "";
    top: 0;
    left: 100%;
    height: 0;
    width: 0;
    border-width: 8px;
    border-style: solid;
    border-color: @ghost @ghost @ghost @road-sign-bg;
    display: inline-block;
    position: absolute;
}

.money {
    background-color: @money-bg;
    padding: 0 0.3em;
    border-left: black solid 0.5em;
}

.stick-label {
    white-space: nowrap; 
}
