<div>
    <p>
        All in all, we cycled approximately
        <span *ngFor="let x of '22000KM'.split('') | slice:1">
            <code class="distance">{{x}}</code>    
        </span>
        for just under
        <span class="stick-label"><span class="days">22</span>months.</span> 
        Together both of us spent around <span class="money">10,000</span>.
    </p>
</div>

<div *ngIf="country">
    <h3>{{country.name}}</h3>
    <p>
        We cycled about around
        <code class="distance" *ngFor="let i of (country.distanceCycled+'KM').split('')">{{i}}</code> 
        for <span class="stick-label">
                <span class="days">{{country.daysCycled}}</span>
                days
            </span>.      
        <span *ngIf="country.favouritePlace">
            Both of us picked 
            <span class="fave-place">{{country.favouritePlace}}</span>
            as our favourite place. 
        </span>
        We spent on average around
        <span class="money stick-label">{{country.averageDailySpend | number:'1.2-2'}}</span>
        a day.
        Check out more content about {{country.name}} on <a href="https://www.instagram.com/stories/highlights/{{country.igStory}}/" target="_blank">Instagram Stories</a> and <a href="https://pedallingcontinents.wordpress.com/tag/{{country.name}}/" target="_blank">WordPress blogs</a>.
    </p> 
</div>
