@import '../styles.less';

:host {
  font-family: "Playfair Display", "Trebuchet MS", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: @text-light;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sans-serif {
  font-family: "Montserrat", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

h2 a {
  color: whitesmoke;
  display: flex;

  span {
    line-height: 24px;
  }
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: green;
  font-weight: 600;
  padding-left: 1em;
}
.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: @bg-light;
  height: 40px;
  width: 150px;
  margin: 0 0 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  cursor: pointer;
}

/* .card-container .card:not(:last-child) { */
.card-container .card{
  margin-right: 1em;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: darkgreen;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 70px;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

/* Responsive Styles */
@media screen and (max-width: 810px) {
  .mini-toolbar {
    padding-left: 0;
    height: 24px;
    font-size: 24px;
    width: 24px;
    z-index: 2;
    position: relative;
  }

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 40%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }
}

@media screen and (max-width: 575px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }
}