<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small" title="Click me to celebrate!" onclick="runIt()">
      <svg id="badge" xmlns="http://www.w3.org/2000/svg" width="101.678" height="100" viewBox="0 0 100 100">
        <circle id="Ellipse_8" data-name="Ellipse 8" 
          cx="50" cy="50" r="50" 
          fill="#003408"/>
      </svg>
      <img class="flag" src="https://aleang.github.io/images/flag.svg">
      <span>We finished our trip on 7 Dec 2019!</span>
    </div>
  
    <h2>Explore around</h2>
    <p>See what we have been up to from March 2018 to December 2019</p>
  
    <div class="card-container">
      <a class="card mountain" rel="noopener" routerLink="/photo">
        <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
        <h3>Photos</h3>
      </a>
  
      <a class="card hot-air-balloon" rel="noopener" routerLink="/map">
        <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
        <h3>Map</h3>
      </a>
  
      <a class="card dune" rel="noopener" routerLink="/blog">
        <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
        <h3>Blog</h3>
      </a>
  
      <a class="card rain" rel="noopener" routerLink="/statistics">
        <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
        <h3>Statistics</h3>
      </a>
    </div>

    <div class="blurb">
      <h3>The Trip of a Lifetime</h3>
      <p>
        So you’ve heard about 2 guys that wanted to cycle from China to Portugal. Pheng & Matt are from New Zealand and have been planning this trip for several years. As a warm up, in 2012 they toured from Bangkok to Hanoi travelling 3000 km over 2 months. This experience made them hungry for an even longer, wilder, and more rewarding trip.
      </p>

      <h3>Where are we heading?</h3>
      <p>
        Starting at the eastern Chinese city of Tiānjīn, we cycled the Silk Road arriving in Iran, then sip lots of teas around the Middle East and continued through Europe to the Atlantic’s coastal city of Lisbon.
      </p>
    </div>
</div>