<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small" onclick="runIt()">
      <svg id="badge" xmlns="http://www.w3.org/2000/svg" width="101.678" height="100" viewBox="0 0 100 100">
        <circle id="Ellipse_8" data-name="Ellipse 8" 
          cx="50" cy="50" r="50" 
          fill="#003408"/>
      </svg>
      <img class="flag" src="https://aleang.github.io/images/flag.svg">
      <span>We finished on 12 Dec 2019!</span>
    </div>
  
    <h2>Explore around</h2>
    <p>See what we have been up to from March 2018 to December 2019</p>
  
    <div class="card-container">
      <a class="card mountain under-construction" rel="noopener"  title="Under construction">
        <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
        <h3>Photos</h3>
      </a>
  
      <a class="card hot-air-balloon" rel="noopener" routerLink="/map">
        <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
        <h3>Map</h3>
      </a>
  
      <a class="card dune" rel="noopener" routerLink="/blog">
        <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
        <h3>Blog</h3>
      </a>
  
      <a class="card rain under-construction" rel="noopener" title="Under construction">
        <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
        <h3>Statistics</h3>
      </a>
    </div>

    <div class="blurb">
      So you've heard about 2 guys that wanted to cycle from China to Portugal. Pheng &amp; Matt are from New Zealand and have been planning this trip for several years. As a warm up, in 2012 they toured from Bangkok to Hanoi travelling 3000 km over 2 months. This experience made them hungry for an even longer, wilder, and more rewarding trip. So you must be filled with questions if you're still reading this. Let's see if we can answer your questions.

      <h3>Where are we heading?</h3>
      Starting at the eastern Chinese city of Tiānjīn, we will cycle the Silk Road arriving in Iran, then sip some teas around the Middle East and continue through Europe to the Atlantic's coastal city of Lisbon.

      <h3>How are we going to sleep...or eat?</h3>
      Where possible we will use CouchSurfing and WarmShower. Other times we can tent as our touring bikes will carry sleeping gear. We will try our best to eat fresh local food, and to cook our meals after a long day's ride.

      <h3>Why not fly?</h3>
      Flying to your destination is boring. It's the journey that counts. We also enjoy the daily routine of cycling from one place to another, literally every day will be different.

      <h3>When do we start and when does it end?</h3>
      Our flight to Tianjin, China from New Zealand is 17th March 2018. We will start pedalling after a week in Tianjin and make our way west. Here was our super flexible timeline:
      <pre>
        <b>2018/03 to 06:</b> Cycling through China, exiting via Torugart Pass, Kyrgyzstan<br/>
        <b>2018/06 to 11: </b>Collect our stamps from the <i>Stans</i>, arriving in Iran for winter<br/>
        <b>2018/11 to 2019/01: </b>Stay in southern Iran during Winter, or head down to Oman<br/>
        <b>2019/01:</b> Make our way through to Turkey and enter the Euro zone.<br/>
      </pre>

      <h4>and what actually happened was...</h4>
      <pre>
        <b>2018/03 to 07:</b> Cycling through China, exited to Kazahkstan<br/>
        <b>2018/07 to 11: </b>Collected our stamps from the <i>Stans</i>, arriving in Iran for winter<br/>
        <b>2018/11 to 2019/03: </b>Stayed in Iran during Winter, visa extended to almost 4 months<br/>
        <b>2019/03 to 06:</b> Make our way through to Turkey and enter Europe by the Balkans<br/>
        <b>2019/06 to 12:</b> Stayed near the Mediterranean sea until we reached Lison, Portugal<br/>
      </pre>
    </div>
</div>