<div class="content" role="main">

  <div class="card highlight-card card-small" onclick="runIt()">
    <svg id="badge" xmlns="http://www.w3.org/2000/svg" width="101.678" height="100" viewBox="0 0 100 100">
      <circle id="Ellipse_8" data-name="Ellipse 8" 
        cx="50" cy="50" r="50" 
        fill="#003408"/>
    </svg>
    <img class="flag" src="https://aleang.github.io/images/flag.svg">
    <span>We finished our trip on 7 Dec 2019!</span>
  </div>

  <h2>Explore around</h2>
  <p>See what we have been up...</p>

  <div class="card-container sans-serif">
    <a class="card mountain" rel="noopener" routerLink="/photo">
      <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
      <h3>Photos</h3>
    </a>

    <a class="card hot-air-balloon" rel="noopener" routerLink="/map">
      <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
      <h3>Map</h3>
    </a>

    <a class="card dune" rel="noopener" routerLink="/blog">
      <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
      <h3>Blog</h3>
    </a>

    <a class="card rain" rel="noopener" routerLink="/statistics">
      <img class="wheeling" src="https://aleang.github.io/images/bike-wheel.svg">
      <h3>Statistics</h3>
    </a>
  </div>

  <h2>Pedalling Continents... the story</h2>
  <div class="welcome-message">
    <p>
      So you've heard about two guys that cycled continents. Pheng &amp; Matt are from New Zealand and had planned this trip for several years. As a warm up, in 2012 they toured Southeast Asia cycling from Bangkok to Hanoi over 2 months. This experience made them hungry for an even longer, wilder, and  rewarding trip. So you must be filled with questions since you're still here. Let's see if we got the answers.
    </p>

    <h4>Where did we go?</h4>
    <p>
      Starting at the eastern Chinese city of Tiānjīn, we cycled the Silk Road via Central Asia to Iran. After sipping lots of tea in the Middle East we continued through Europe along the Mediterranean to the Portugal's capital Lisbon.
    </p>

    <h4>How are we going to sleep...or eat?</h4>
    <p>
      Where possible we used CouchSurfing and WarmShower. Other times we wild camped as our touring bikes carried all the gears. We ate lots of local food and have adapted them when cooking meals after a long day's ride.
    </p>

    <h4>Why not fly?</h4>
    <p>
      Flying to the destination is boring. It's the journey that counted. We enjoyed the daily routine of cycling from one place to another, literally every day will be different.
    </p>

    <h4>When do we start and when does it end?</h4>
    <p>
      Our flight to Tianjin, China from New Zealand was 17th March 2018. We started pedalling a week after landing in China making our way west. Our budget could've lasted us three to four years, however, due to unforeseen situations we had to end our trip short after 22 months. By December 2019 reached our destination.
    </p>
  </div>
</div>