<h2>Blog</h2>
<p>
    Our WordPress blog host all the stories, photos and travel information we think will be helpful and inspire others to take up tour cycling. Since completing the trip, we have been posting less as we settle down in London, but don't worry, there are plenty more stories to share.
</p>

<div class="row row-1">
    <div class="column blog" (click)="getPosts(0)">        
        <h3><mat-icon>flag</mat-icon>Trip Status</h3>        
        <span>
            Our route was separated into segments and they were blogged at the end of each. We look back at how far we have cycled, share some interesting experiences and look at what's next.
        </span>
    </div>

    <div class="column blog" (click)="getPosts(1)">        
        <h3><mat-icon>fastfood</mat-icon>Dear Food Diary</h3>
        <span>
            Food glorious food - all the wonderful food eated during the trip. The amount of food we have eaten is tremendous, so doing a long cycling trip like this justified all that eating.
        </span>
    </div>
</div>
<div class="row row-2">
    <div class="column blog" (click)="getPosts(2)">        
        <h3><mat-icon>class</mat-icon>Report Card</h3>
        <span>
            Each country was given a grade based on our travel experience as tour cyclists. We share information that may be useful for other travellers that are considering doing a similar trip to this country.
        </span>
    </div>

    <div class="column blog" (click)="getPosts(3)">
        <h3><mat-icon>money_off</mat-icon>On a Shoestring Budget</h3>
        <span>
            Day trips on a shoestring budget to some of the world's most famous cities. Cities are usually the place we spend most of our budget but with a bit of research, enjoying the city shouldn't cost the earth.
        </span>
  </div>
</div>
<div class="row row-3">
    <div class="column blog" (click)="getPostsByQuery('')">        
        <h3><mat-icon>update</mat-icon>Get Latest</h3>
        <span>Load the latest 20 posts.</span>
    </div>

    <div class="column blog" (click)="goToPedcoQuiz()">
        <h3><mat-icon>spellcheck</mat-icon>Blog Quiz</h3>
        <span>Instagram Story themed quiz based on our trip photos.</span>
  </div>
</div>

<div class="row row-4">
    <div class="column blog {{haveQuery()}}" (click)="focusOnSearch()" id="search-box">
        <h3><mat-icon>search</mat-icon>Search the Blog</h3>
        <input #queryBox (keydown.enter)="getPostsBySearch(queryBox.value)" value={{searchString}}/>
        <button (click)="getPostsBySearch(queryBox.value)">Search</button>
  </div>
</div>

<div class="row row-5 loading-results">
    <div *ngIf="fetchingData">
        <div class="lds-dual-ring"></div>
    </div>
    <h4 *ngIf="postsResult.length>0">Search Result</h4>
    <h4 *ngIf="showNoResult">Sorry, "{{searchString}}" is not mentioned in our blogs</h4>
</div>

<div class="row row-fourth">
    <ul>
        <li *ngFor="let post of postsResult" title="{{post.title}}" (click)="selectPost(post)">
            <span class="published-date">{{post.date | date:'d MMMM, y'}}</span>
            <a [innerHTML]="post.title"></a>
        </li>
    </ul>
</div>

<div *ngIf="selectedPost" class="row row-blog-content" (click)="unselectPost()">
    <div class="blog-header">
        <span (click)="unselectPost()" title="Close"><mat-icon>close</mat-icon></span>
        <span [innerHTML]="selectedPost.title"></span>
        <span (click)="goToPost(selectedPost.short_URL); preventDefault()" title="View in WordPress">
            <mat-icon>add_to_home_screen</mat-icon>
        </span>
    </div>
    <iframe id="blog-iframe" [src]="selectedPostUrl" (click)="preventDefault()"></iframe>
</div>
