<h2>Statistics</h2>
<div class="chartContainer">
    <div class="cumulativeDistanceChart">
        <google-chart #cumulativeDistanceChart
            [title]="cumulativeDistanceData.title"
            [type]="cumulativeDistanceData.type"
            [data]="cumulativeDistanceData.data"
            [columnNames]="cumulativeDistanceData.columnNames"
            [options]="cumulativeDistanceData.options"
            [roles]="cumulativeDistanceData.roles">
        </google-chart>
    </div>
    <ul>
        <li><mat-icon>zoom_out_map</mat-icon>Zoom and drag</li>
        <li><mat-icon>filter_2</mat-icon>Select multiple points</li>
        <li><mat-icon>mouse</mat-icon>Right-click to reset</li>
    </ul>   
</div>

<div class="chartContainer">
    <div class="distanceChart">
        <google-chart #distanceChart
            [title]="distanceData.title"
            [type]="distanceData.type"
            [data]="distanceData.data"
            [columnNames]="distanceData.columnNames"
            [options]="distanceData.options"
            [roles]="distanceData.roles">
        </google-chart>
    </div>
    <ul>
        <li><mat-icon>games</mat-icon>Hover to see exact amount by country</li>
    </ul>
</div>

<div class="chartContainer">
    <div class="regionSpendingChart">
        <google-chart #regionSpendingChart
            [title]="regionSpendingData.title"
            [type]="regionSpendingData.type"
            [data]="regionSpendingData.data"
            [columnNames]="regionSpendingData.columnNames"
            [options]="regionSpendingData.options"
            [roles]="regionSpendingData.roles">
        </google-chart>
    </div>
    <ul>
        <li><mat-icon>mouse</mat-icon>Left click to move down one level</li>
        <li><mat-icon>mouse</mat-icon>Right click to move down up level</li>
    </ul>
</div>

<div class="chartContainer">
    <div class="daysChart">
        <google-chart #daysChart
            [title]="daysChartData.title"
            [type]="daysChartData.type"
            [data]="daysChartData.data"
            [options]="daysChartData.options"
        >
        </google-chart>
    </div>
    <ul>
        <li><mat-icon>games</mat-icon>Hover to see exact amount by country</li>
    </ul>
</div>

<!-- <div class="chartContainer calendarChart">
    <google-chart #calendarChart
        [title]="calendarData.title"
        [type]="calendarData.type"
        [data]="calendarData.data"
        [columnNames]="calendarData.columnNames"
        [options]="calendarData.options"
        [roles]="calendarData.roles">
    </google-chart>
</div> -->