.chartContainer {
    padding: 2em;
    background-color: white;
    color: darkslategray;
    width: 500px;
    margin-bottom: 3em;
    box-shadow: 3px 3px 12px 0px black;

    li {
        font-size: 12px;
        color: white;
        height: 15px;

        mat-icon {
            font-size: 12px;
            line-height: 1;
        }
    }

    li:hover {
        transform: none;
        box-shadow: none;
        cursor: auto;
        background: dimgrey;
    }
}

.distanceChart {
}

.regionSpendingChart {
}

.daysChart {
}